body {
  background-color: #000; 
  color: #e0e0e0; 
  font-family: 'Poppins', sans-serif;
}

#crypto {
  color: #00BFFF; /* glowing sky blue */
  text-shadow: 0 0 8px #00BFFF;
  font-weight: 700;
}


.coin-img {
    border-radius: 50%;
    height: 40px;
    width: 60px;
    object-fit: cover;
    box-shadow: 0 0 50px rgba(63, 121, 227, 0.9);
    animation: glow 2s infinite;
}

@keyframes glow {
    from {
        box-shadow: 0 0 50px rgba(63, 121, 227, 0.9);
    }

    to {
        box-shadow: 0 0 50px rgb(21, 80, 189);
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: blue !important;
}

.move-up {
    transform: translateY(-50px);
}

.btn-back {
    display: inline-block;
    border: 2px solid black;
    padding: 3px;
    border-radius: 6px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: black;
    color: white;
}

.girl {
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.girl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: myanimation 2s ease-in-out infinite;
}

@keyframes myanimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.questions {
    height: 20px;
    width: 100%;
    background-color: #738FC3;
}

.btn-success {
    background-color: #00BFFF;
    border: none;
    font-weight: bold;
    color: #000;
    transition: 0.3s;
    margin-top: 20px;
}

.btn-success:hover {
    background-color: #007BFF;
    color: white;
    box-shadow: 0 0 10px #00BFFF;
    
}

#text {
    background: radial-gradient(circle at top, #001F3F, #000);
    text-align: center;
    padding: 50px;

}

#text h2 {
    color: #00BFFF;
    text-shadow: 0 0 10px #007BFF;
    font-weight: bold;
}

#text p {
    color: #ccc;
    max-width: 600px;
    margin: auto;
}